# Windows build artifacts
*.exe
*.pdb
*.rdi
*.bin

# Linux build artifacts
*.out

# Generic build artifacts
*.spv

# Runtime artifacts
latest.log

# IDE artifacts
.vscode

# Spall profiler artifacts
profile.spall